<div class="w-[120px] h-[120px] rounded-full bg-gray-300 border-[5px] border-white relative {{class}}">
  <button type="button" class="rounded-full bg-accent-peach p-2 border-[5px] border-white absolute -bottom-2 -right-3 hover:bg-blue-800 hover:text-white focus:outline-none focus:border-blue-300">
    <svg
      width="25"
      height="25"
      viewBox="0 0 25 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M16.906 3.998 4.66 16.244v4.454h4.453L21.359 8.45l-1.915-1.915"
        stroke="#fff"
        stroke-width="2"
        stroke-linecap="square"
        stroke-linejoin="bevel" />
    </svg>
  </button>
</div>