<div class="{{ width | default: 'w-[120px]' }} {{ height | default: 'h-[120px]' }} {{ class }} avatar">
  {% if editable %}
    <button type="button" class="btn-icon-edit">
      {% render 'icon-pencil' %}
    </button>
  {% endif %}
</div>
