<div style="width:{{ width | default: '120px' }}; height:{{ height | default: '120px' }}" class="{{ class }} avatar">
  {% if editable %}
    <button type="button" class="btn-icon-edit">
      {% render 'icon-pencil' %}
    </button>
  {% endif %}
</div>
