<div class="card-product">
  <div class="grid grid-cols-1 gap-2">
    <div class="h-[144px] bg-primary-background rounded-[8px] relative">
      {{ img | asset_url | img_tag: 'product', 'w-full h-full' }}
    </div>
    <p class="text-body-sm text-black">
      {{ title }}
    </p>
    <div class="flex items-center justify-between gap-2">
      {% if external_link %}
        <div class="flex flex-grow items-center justify-center gap-[6px] border border-primary-border p-2 rounded-[8px] text-body-xs text-primary-black">
          <span>{{ external_link }}</span>
          {% render 'icon-export' %}
        </div>
      {% else %}
        <div class="flex-grow text-center border border-primary-border p-2 rounded-[8px] text-body-xs text-accent-peach">
          Fangift
        </div>
      {% endif %}
      <span class="text-body-xs text-accent-purple">${{ price }}</span>
    </div>
    <button class="btn btn-view-details">Add to Cart</button>
  </div>
</div>
