<svg
  class="{{ class }}"
  width="32px"
  height="32px"
  viewBox="0 0 32 32"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
    <title>tiktok</title>
    <g
      id="tiktok"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd">
    <g>
      <path
        d="M0,16 C0,7.163 7.163,0 16,0 C24.837,0 32,7.163 32,16 C32,24.836 24.837,32 16,32 C7.163,32 0,24.836 0,16 Z"
        id="Shape"
        fill="#D9D9D9"></path>
      <path
        d="M19.2,12.996296 L19.2,18.8 C19.2,21.67192 16.87192,24 14,24 C11.12812,24 8.8,21.67192 8.8,18.8 C8.8,15.92808 11.12812,13.6 14,13.6 C14.41304,13.6 14.8148,13.648152 15.2,13.739144 L15.2,16.26944 C14.83632,16.09664 14.42944,16 14,16 C12.4536,16 11.2,17.2536 11.2,18.8 C11.2,20.3464 12.4536,21.6 14,21.6 C15.5464,21.6 16.8,20.3464 16.8,18.8 L16.8,8 L19.2,8 C19.2,10.209136 20.99088,12 23.2,12 L23.2,14.4 C21.68648,14.4 20.29568,13.874624 19.2,12.996296 Z"
        id="Path"
        fill="#FFFFFF"
        fill-rule="nonzero"></path>
    </g>
  </g>
</svg>
