<button
  type="button"
  class="btn rounded-full focus:ring-4 focus:ring-gray-300"
  data-dropdown-toggle="dropdown-profile"
  data-dropdown-offset-distance="15"
>
  <img
    src="{{ 'user-anonymous.png' | asset_url }}"
    class="w-[40px] h-[40px] object-cover rounded-full"
    alt="user avatar"
    id="img-avatar"
  >
</button>
<div
  id="dropdown-profile"
  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
>
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
    <li>
      <a
        href="#"
        class="creator-only block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        id="link-public-wishlist"
        >My Public Wishlist</a
      >
    </li>
    <li>
      <a
        href="/pages/wishlist"
        class="creator-only block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >Edit Wishlist</a
      >
    </li>
    <li>
      <a href="/pages/settings" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >Profile Settings</a
      >
    </li>
    <li>
      <a
        href="/pages/fangifts"
        class="creator-only block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >Fangift's Marketplace</a
      >
    </li>
  </ul>
  <div class="py-2">
    <a
      href="https://fangift.zendesk.com"
      target="_blank"
      class="block px-4 py-2 w-full text-left text-sm text-gray-700 hover:bg-gray-100"
    >
      Help & Support
    </a>
    <button
      type="button"
      class="block px-4 py-2 w-full text-left text-sm text-gray-700 hover:bg-gray-100"
      id="btn-signout"
    >
      Sign Out
    </button>
  </div>
</div>
