<form
  id="form-about"
  class="card-auth relative hidden"
  onsubmit="return false;"
>
  <div class="flex flex-col justify-center h-full">
    {% render 'button-backward', id: 'btn-back-about' %}

    <div class="text-center mb-8">
      <h1 class="text-primary-black text-heading-h3 mb-2">About You</h1>
      <div class="text-center text-primary-text text-body-md">
        Add information about yourself to your public account.
      </div>
    </div>

    {% render 'avatar', class: 'mx-auto mb-8', editable: true %}

    <input
      type="text"
      id="txt-public-name"
      name="public-name"
      placeholder="Public name*"
      class="textfield mb-4"
    >

    <textarea
      id="txt-bio"
      name="bio"
      rows="4"
      class="textfield mb-4 resize-none"
      placeholder="Enter short bio"
    ></textarea>

    <button class="btn btn-primary" type="submit" disabled id="btn-about">Complete setup</button>
  </div>
</form>
