<form
  id="form-email"
  class="card-auth relative hidden"
  onsubmit="return false;"
>
  <div class="flex flex-col justify-center h-full">
    <div class="text-center mb-8">
      {% render 'icon-email.liquid' | class: 'mx-auto mb2' %}

      <h1 class="text-primary-black text-heading-h3 mb-2">Check your email.</h1>
      <div class="text-center text-primary-text text-body-md">A confirmation link has been sent to your inbox.</div>
    </div>
    <p class="text-primary-text text-body-sm flex justify-center items-center gap-1">
      <span>Didn't receive email?</span>
      <button class="btn text-accent-purple underline" id="btn-resend">Resend Email</button>
    </p>
  </div>
</form>
