<form
  id="form-email"
  class="card-auth relative hidden"
  onsubmit="return false;"
>
  <div class="flex flex-col justify-center h-full">
    <div class="text-center mb-8">
      {% render 'icon-email.liquid' | class: 'mx-auto mb2' %}

      <h1 class="text-primary-black text-heading-h3 mb-2">Check your email.</h1>
      <div class="text-center text-primary-text text-body-md">A confirmation link has been sent to your inbox.</div>
    </div>

    <button class="btn btn-primary mx-auto" id="btn-resend">Resend</button>
  </div>
</form>
