<div class="flex items-center gap-2">
  <input id="checkbox-{{id}}" type="checkbox" name="{{id}}" class="checkbox checkbox-category">
  <label for="checkbox-{{id}}" class="text-sm text-body-sm text-primary">{{label}}</label>
</div>