<main class='overflow-auto'>
  <div class='bg-[url(landing-bg.svg)] bg-cover bg-no-repeat min-h-screen'>
    <div class='container px-[100px]'>
      {% section 'account_header' %}
    </div>
  </div>
</main>
