<div class="overflow-auto">
  <div class="bg-[url(landing-bg.svg)] bg-cover bg-no-repeat min-h-screen">
    <div class="border-b border-primary-border">
      <div class="container px-[100px]">
        {% section 'header' %}
      </div>
    </div>
    {% section 'landing_hero' %}
  </div>

  {% section 'landing_wishlist' %}
  {% section 'landing_vendor' %}
  {% section 'landing_community' %}
  {% section 'landing_privacy' %}
  {% section 'landing_testimonials' %}
  {% section 'landing_fan' %}
</div>

{% section 'footer' %}
