<div class="overflow-auto">
  <div class="bg-[url(landing-bg.svg)] bg-cover bg-no-repeat min-h-screen">
    <div class="border-b border-primary-border">
      {% section 'header-landing' %}
    </div>
    {% section 'landing-hero' %}
  </div>

  {% section 'landing-wishlist' %}
  {% section 'landing-vendor' %}
  {% section 'landing-community' %}
  {% section 'landing-privacy' %}
  {% section 'landing-testimonials' %}
  {% section 'landing-fan' %}
</div>

{% section 'footer' %}
