<div class="border-b border-primary-border bg-primary-background">
  {% section 'header-landing' %}
</div>

<main class="overflow-auto bg-primary-background">
  {% section 'faq' %}
  {% section 'landing-fan' %}
</main>

{% section 'footer' %}
