<main class="overflow-auto">
  <div class="bg-[url(auth-bg.svg)] bg-cover bg-no-repeat min-h-screen flex flex-col">
    {% section 'header-landing' %}

    <div class="container md:px-[100px] flex-grow flex items-end md:items-center">
      <div class="grid grid-cols-1 gap-[60px] xl:grid-cols-2 mb-10 mb-10">
        <form
          class="card-auth flex flex-col justify-center"
          onsubmit="return false;"
          id="form-reset"
        >
          <div class="text-center my-8">
            <h1 class="text-primary-black text-heading-h3 mb-2">Reset Password</h1>
            <div class="text-center text-primary-text text-body-md">Please enter your email to reset password.</div>
          </div>

          <div class="grid grid-cols-1 gap-4 mb-8 px-5">
            <div class="error" error="Invalid email format">
              <input
                type="email"
                id="text-email"
                name="email"
                placeholder="Email address"
                class="textfield"
              >
            </div>
            <button
              id="btn-reset"
              class="btn btn-primary"
              type="submit"
            >
              Reset Password
            </button>
          </div>

          <hr class="-mx-5 border-primary-border mb-8">

          <div class="text-center text-primary-text text-body-md">
            Don't have an account?
            <a href="/account/register" class="text-accent-peach underline">Signup</a>
          </div>
        </form>
        <div class="flex items-center justify-center">
          {{ 'auth-img0.png' | asset_url | img_tag: 'main-bg', 'hidden xl:block', '600x' }}
        </div>
      </div>
    </div>
  </div>
</main>

<script src="{{'reset-password.min.js' | asset_url}}" defer></script>
