<div class="overflow-auto">
  <div class="bg-[url(vendor-bg.svg)] bg-contain bg-no-repeat bg-bottom">
    <div class="border-b border-primary-border">
      {% section 'header-landing' %}
    </div>
    {% section 'landing-wishlist-hero' %}
  </div>
  {% section 'landing-wishlist-share' %}
  {% section 'landing-wishlist-platform' %}
  {% section 'landing-testimonials' %}
  {% section 'landing-fan' %}
</div>

{% section 'footer' %}
