<div class="overflow-auto">
  <div class="bg-[url(vendor-bg.svg)] bg-contain bg-no-repeat bg-bottom">
    <div class="border-b border-primary-border">
      {% section 'header' %}
    </div>
    {% section 'vendor-hero' %}
  </div>

  {% section 'vendor-profile' %}
  {% section 'vendor-list-product' %}
  {% section 'vendor-manage-order' %}
  {% section 'vendor-privacy' %}
  {% section 'landing-testimonials' %}
  {% section 'landing-fan' %}
</div>

{% section 'footer' %}
