<div class="overflow-auto">
  <div class="bg-[url(vendor-bg.svg)] bg-contain bg-no-repeat bg-bottom">
    <div class="border-b border-primary-border">
      <div class="container px-[100px]">
        {% section 'header' %}
      </div>
    </div>
    {% section 'vender_hero' %}
  </div>

  {% section 'vendor-profile' %}

  {% section 'landing_testimonials' %}
  {% section 'landing_fan' %}
</div>

{% section 'footer' %}
