<main class="overflow-auto">
  <div class="bg-[url(auth-bg.svg)] bg-cover bg-no-repeat min-h-screen flex flex-col">
    {% section 'header-landing' %}

    <div class="container md:px-[100px] flex-grow flex items-end md:items-center">
      <div class="grid grid-cols-1 xl:gap-[60px] xl:grid-cols-2 xl:mb-10 w-full">
        <div class="card-auth relative">
          <div class="flex flex-col justify-center h-full">
            <div class="text-center mb-12">
              <h1
                class="text-primary-black text-heading-h3 flex items-center justify-center gap-2 mb-2"
                id="text-title"
              ></h1>
              <div class="text-center text-primary-text text-body-md" id="text-subtitle"></div>
            </div>
            <a
              class="btn btn-primary hidden"
              id="btn-register"
              href="/account/register"
            >
              Re-register
            </a>
            <a
              class="btn btn-primary hidden"
              id="btn-login"
              href="/account/login"
            >
              Login Again
            </a>
          </div>
        </div>

        <div class="flex items-center justify-center">
          {{ 'auth-img0.png' | asset_url | img_tag: 'main-bg', 'hidden xl:block', '600x' }}
        </div>
      </div>
    </div>
  </div>
</main>

<script src="{{'verification.min.js' | asset_url}}" defer></script>
