@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PlusJakartaSans-Regular;
  src: url(./PlusJakartaSans-Regular.ttf);
}

@font-face {
  font-family: PlusJakartaSans-Medium;
  src: url(./PlusJakartaSans-Medium.ttf);
}

@font-face {
  font-family: PlusJakartaSans-SemiBold;
  src: url(./PlusJakartaSans-SemiBold.ttf);
}

@font-face {
  font-family: PlusJakartaSans-Bold;
  src: url(./PlusJakartaSans-Bold.ttf);
}

@layer base {
  html {
    font-family: PlusJakartaSans-Regular, system-ui, sans-serif;
  }
}
