@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PlusJakartaSans-Regular;
  src: url(./PlusJakartaSans-Regular.ttf);
}

@font-face {
  font-family: PlusJakartaSans-Medium;
  src: url(./PlusJakartaSans-Medium.ttf);
}

@layer base {
  html {
    font-family: PlusJakartaSans-Regular, system-ui, sans-serif;
  }
}
