<div class="bg-primary border-t border-primary-white/40">
  <div class="container p-6 lg:p-[45px] pb-[63px] flex items-center justify-between flex-col lg:flex-row">
    <div class="flex flex-col gap-2 w-full">
      <h4 class="text-heading-h4 text-primary-white">
        Hey,
        <span id="text-username"></span>
        👋
      </h4>
      <div class="text-body-md flex lg:items-center gap-2 flex-col lg:flex-row mb-4">
        <span class="text-primary-border">Copy & Promote your wishlist link:</span>
        <div class="flex gap-2 items-center">
          <div class="flex gap-2 items-center justify-center bg-white px-4 py-2 rounded-[8px] w-0 flex-grow lg:w-fit ">
            <div
              class="text-accent-purple underline overflow-hidden text-ellipsis whitespace-nowrap max-w-full cursor-pointer btn-copy-wishlist-link"
              id="profile-link"
            ></div>
            <button class="btn btn-copy-wishlist-link">
              {% render 'icon-copy' %}
            </button>
          </div>
          <button
            class="btn-icon flex-shrink-0 items-center justify-center rounded-full text-accent-purple"
            id="btn-share"
          >
            <svg
              fill="currentColor"
              height="32px"
              width="32px"
              viewBox="0 0 60 60"
            >
              <path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30   S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z" />
              <path d="M39,20c3.309,0,6-2.691,6-6s-2.691-6-6-6c-3.131,0-5.705,2.411-5.973,5.474L18.961,23.788C18.086,23.289,17.077,23,16,23   c-3.309,0-6,2.691-6,6s2.691,6,6,6c1.077,0,2.086-0.289,2.961-0.788l14.065,10.314C33.295,47.589,35.869,50,39,50   c3.309,0,6-2.691,6-6s-2.691-6-6-6c-2.69,0-4.972,1.78-5.731,4.223l-12.716-9.325C21.452,31.848,22,30.488,22,29   s-0.548-2.848-1.448-3.898l12.716-9.325C34.028,18.22,36.31,20,39,20z M39,10c2.206,0,4,1.794,4,4s-1.794,4-4,4s-4-1.794-4-4   S36.794,10,39,10z M12,29c0-2.206,1.794-4,4-4s4,1.794,4,4s-1.794,4-4,4S12,31.206,12,29z M39,40c2.206,0,4,1.794,4,4s-1.794,4-4,4   s-4-1.794-4-4S36.794,40,39,40z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 w-full lg:max-w-fit lg:flex gap-4 mb-4">
      <a
        href="/pages/fangifts"
        class="btn-add-gift btn flex items-center gap-2 h-8 px-3 text-white bg-accent-purple hover:bg-purple-600 text-body-sm rounded-[5px]"
      >
        {% render 'icon-plus' %}
        Add gift
      </a>
      <button
        class="h-8 px-3 btn flex items-center justify-center gap-2 text-white text-body-sm bg-gray-600 rounded-[5px] hover:bg-blue-800 hover:text-primary-white"
        id="btn-product-link"
      >
        Suggest Gift
      </button>
    </div>

    <div class="flex gap-4 w-full lg:hidden">
      <span class="text-body-sm text-primary-border">Personalize:</span>
      <a href="/pages/settings?tab=address" class="text-accent">Shipping Address</a>
      <a href="/pages/settings?tab=size" class="text-accent">My Sizes</a>
    </div>
  </div>
</div>
