<div class="bg-primary border-t border-primary-white/40">
  <div class="container p-6 lg:p-[45px] pb-[63px] flex items-center justify-between flex-col lg:flex-row">
    <div class="flex flex-col gap-2 w-full">
      <h4 class="text-heading-h4 text-primary-white">
        Hey,
        <span id="text-username"></span>
        👋
      </h4>
      <div class="text-body-md flex lg:items-center gap-2 flex-col lg:flex-row mb-4">
        <span class="text-primary-border">Copy & Promote your wishlist link:</span>
        <div class="flex gap-2 items-center justify-center bg-white px-4 py-2 rounded-[8px] w-full lg:w-fit ">
          <div
            class="text-accent-purple underline overflow-hidden text-ellipsis whitespace-nowrap max-w-full cursor-pointer btn-copy-wishlist-link"
            id="profile-link"
          ></div>
          <button class="btn btn-copy-wishlist-link">
            {% render 'icon-copy' %}
          </button>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 w-full lg:max-w-fit lg:flex gap-4">
      <a
        href="/pages/fangifts"
        class="btn-add-gift btn flex items-center gap-2 h-8 px-3 text-white bg-accent-purple hover:bg-purple-600 text-body-sm rounded-[5px]"
      >
        {% render 'icon-plus' %}
        Add gift
      </a>
      <button
        class="h-8 px-3 btn flex items-center justify-center gap-2 text-white text-body-sm bg-gray-600 rounded-[5px] hover:bg-blue-800 hover:text-primary-white"
        id="btn-product-link"
      >
        Suggest Gift
      </button>
    </div>
  </div>
</div>
