<div class="min-h-[300px] bg-primary bg-[url(shop-bg.svg)] bg-no-repeat bg-cover bg-center">
  <div class="container p-[100px]">
    <h2 class="text-heading-h2 text-center text-primary-white mb-6">Invite Creators 📩</h2>
    <p
      class="text-body-xl text-center text-primary-white/80 mb-[68px]"
    >
      Help other creators skip the wait list. Invite them to Throne with your invite code.
    </p>
    <div class="flex items-center justify-center gap-4">
      <input type="text" readonly class="textfield w-[463px]" value="5398c144-e47f-4c39-a8e7-dbce5bce8c42">
      <button type="button" class="btn btn-primary !bg-accent-blue !py-4">Share my Code</button>
    </div>
  </div>
</div>
