<div class="bg-primary border-t border-primary-white/40">
  <div class="container p-[45px] pb-[63px] flex flex-col gap-2">
    <h4 class="text-heading-h4 text-primary-white">Wishlist Orders</h4>
    <p class="text-body-md text-primary-border">Manage your gift orders and see messages from your gifters.</p>
  </div>
</div>
