{{ 'collection.min.css' | asset_url | stylesheet_tag }}

<div class="bg-primary-background">
  <div class="container px-6 pb-6 md:px-[100px] md:pb-[100px]">
    <div class="grid">
      <div class="mt-[-16px] mb-4 md:mb-9 bg-primary-white rounded-[8px] p-6 shadow-[0_18px_37.5px_0_rgba(0,0,0,0.05)]">
        <div class="text-body-sm text-primary-text mb-4">
          Don’t see what you need?
          <a class="text-accent-purple underline ml-2" href="/pages/wishlist?suggest_gift=true">Suggest Gift</a>
        </div>
        <div class="flex gap-2 md:gap-6">
          <div class="relative flex-grow">
            <div class="absolute inset-y-0 left-0 flex items-center pl-4 pointer-events-none">
              {% render 'icon-search' : class: 'w-4 h-4 text-accent-purple' %}
            </div>
            <input
              type="search"
              class="block w-full p-4 pl-12 text-body-sm text-primary placeholder:text-primary-border border border-[rgba(0,0,0,0.1)] rounded-lg bg-primary-white focus:ring-blue-500 focus:border-blue-500 "
              id="input-search"
              placeholder="Search..."
            >
          </div>
          <button class="btn btn-primary flex items-center gap-[10px]" id="btn-search-fangifts">
            <span class="hidden md:block">Search Marketplace</span>
            {% render 'icon-arrow-right' %}
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-6 lg:gap-[60px] lg:grid lg:grid-cols-12">
      <div class="lg:col-span-3">
        <select
          id="select-category"
          placeholder="Category"
          class="btn-dropdown"
          autocomplete="off"
        ></select>
      </div>
      <div class="lg:col-span-9">
        <div
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-[26px] relative mb-[60px]"
          id="container-products"
        ></div>
        <div class="flex justify-center mb-4">
          <button
            type="button"
            class="btn btn-primary-outlined flex items-center justify-center w-[160px]"
            id="btn-load-more"
          >
            Load More
          </button>
        </div>
        <div class="text-body-sm text-primary-text text-center">
          Don’t see what you need?
          <a class="text-accent-purple underline ml-2" href="/pages/wishlist?suggest_gift=true">Suggest Gift</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="drawer-add-wishlist"
  class="drawer"
  tabindex="-1"
  aria-labelledby="drawer-label"
>
  <button type="button" class="btn-close-drawer">
    {% render 'icon-close' : class: 'w-3 h-3' %}
  </button>
  <h4 class="text-heading-h4 mb-4 md:mb-[76px]">Gift Details</h4>
  <input
    type="file"
    class="hidden"
    name="main-image"
    id="file-main-image"
  >
  <div
    class="mb-4 relative w-full md:w-[340px] rounded-[16px] group cursor-pointer pointer-events-none"
    id="wrapper-main-image"
  >
    <div class="absolute transition-all inset-0 z-10 items-center justify-center cursor-pointer hidden group-hover:flex text-[24px] text-primary-white">
      Click to upload image
    </div>
    <img
      alt="product image"
      data-placeholder="{{ 'placeholder-image.png' | asset_url }}"
      class="w-[400px] h-[300px] object-contain rounded-[16px] transition-all group-hover:blur-sm"
      id="img-product-main"
    >
  </div>
  <h4 class="text-heading-h4 mb-4" id="text-product-title"></h4>
  <h5 class="text-heading-h5 mb-4" id="text-product-price"></h5>
  <button type="button" class="btn btn-primary-outlined w-full mb-4 btn-add-wishlist">💜 Add to Wishlist</button>
  <h3 class="text-body-md mb-2">Product Description</h3>
  <div class="text-body-sm flex-grow mb-8 text-gray-500" id="text-desc"></div>
  <button type="button" class="btn btn-primary w-full btn-add-wishlist">💜 Add to Wishlist</button>
</div>

<div
  id="popup-add-success"
  tabindex="-1"
  class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow">
      <button
        type="button"
        class="btn-close-add-success absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
      >
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="p-6 text-center">
        <svg
          class="text-green mx-auto mb-2"
          fill="currentColor"
          width="48px"
          height="48px"
          viewBox="0 0 305.002 305.002"
        >
          <path d="M152.502,0.001C68.412,0.001,0,68.412,0,152.501s68.412,152.5,152.502,152.5c84.089,0,152.5-68.411,152.5-152.5    S236.591,0.001,152.502,0.001z M152.502,280.001C82.197,280.001,25,222.806,25,152.501c0-70.304,57.197-127.5,127.502-127.5    c70.304,0,127.5,57.196,127.5,127.5C280.002,222.806,222.806,280.001,152.502,280.001z" />
          <path d="M218.473,93.97l-90.546,90.547l-41.398-41.398c-4.882-4.881-12.796-4.881-17.678,0c-4.881,4.882-4.881,12.796,0,17.678    l50.237,50.237c2.441,2.44,5.64,3.661,8.839,3.661c3.199,0,6.398-1.221,8.839-3.661l99.385-99.385    c4.881-4.882,4.881-12.796,0-17.678C231.269,89.089,223.354,89.089,218.473,93.97z" />
        </svg>
        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
          FanGift product has been added to your wishlist!
        </h3>
        <div class="md:flex-row gap-2 flex flex-col md:justify-center">
          <a
            href="/pages/wishlist"
            class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 justify-center"
          >
            Go to my Wishlist
          </a>
          <button
            type="button"
            class="btn-close-add-success text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10"
          >
            Add more gifts
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ 'fangifts.min.js' | asset_url }}" defer></script>
