<header>
  <div class="container px-[20px] xl:px-[100px] w-full h-[98px] flex items-center justify-between">
    <a id="logo" href="/">
      {% render 'logo.liquid' %}
    </a>

    {% render 'navbar-landing' %}

    <div class="flex items-center">
      <a href="/account/login" class="btn btn-text-primary px-6 py-3">Login</a>
      <a href="/account/register" class="btn btn-primary font-plus-bold">Signup</a>
    </div>
  </div>
</header>
