<header class="bg-primary">
  <div class="container px-[45px] w-full h-[73px] flex items-center justify-between">
    <div class="flex items-center gap-[60px] h-full">
      <a id="logo" href="/">
        {% render 'logo-light.liquid' %}
      </a>

      {% render 'navbar' %}
    </div>

    <div class="flex items-center gap-4">
      <button
        data-dropdown-toggle="dropdown"
        class="border border-primary-white text-[12px] text-primary-white rounded-[5px] h-8 px-3 text-center inline-flex items-center gap-[6px]"
        type="button"
      >
        {% render 'icon-heart-outline' %}
        Filter
        {% render 'icon-arrow-dropdown' %}
      </button>
      <button class="btn btn-icon-filled">
        {% render 'icon-user.liquid' %}
      </button>
      <button class="btn btn-icon-filled">
        {% render 'icon-setting.liquid' %}
      </button>
      <button class="btn">
        {{ 'user3.png' | asset_url | img_tag: 'user avatar', '', '40x40' }}
      </button>
    </div>
  </div>
</header>
