<header class="bg-primary">
  <div class="container px-[45px] w-full h-[73px] flex items-center justify-between">
    <div class="flex items-center gap-[60px]">
      <a id="logo" href="/">
        {% render 'logo-light.liquid' %}
      </a>

      {% render 'navbar' %}
    </div>

    <div class="flex items-center gap-4">
      <button class="btn btn-icon-filled">
        {% render 'icon-user.liquid' %}
      </button>
      <button class="btn btn-icon-filled">
        {% render 'icon-setting.liquid' %}
      </button>
      <button class="btn">
        {{ 'user3.png' | asset_url | img_tag: 'user avatar', '', '40x40' }}
      </button>
    </div>
  </div>
</header>
