<header>
  <div class="lg:container px-5 xl:px-[100px] w-full h-[98px] flex items-center justify-between gap-[64px]">
    <a id="logo" href="/">
      {% render 'logo.liquid' %}
    </a>

    {% render 'navbar-landing' %}
    {% render 'navbar-landing-mb' %}

    <div class="items-center hidden lg:flex">
      <a href="/account/login" class="btn btn-text-primary px-6 py-3">Login</a>
      <a href="/account/register" class="btn btn-primary font-plus-bold">Signup</a>
    </div>
    <div class="flex gap-4">
      <a href="/account/register" class="btn text-accent lg:hidden">Sign up</a>
      <button
        class="btn btn-icon-menu z-20 lg:hidden"
        data-collapse-toggle="navbar-landing-hamburger"
        type="button"
      >
        {% render 'icon-menu' %}
      </button>
    </div>
  </div>
</header>
