<div class="container px-[20px] py-[40px] xl:px-[100px] xl:py-[100px]">
  <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 mb-12">
    <div class="flex flex-col items-center lg:order-1 order-2">
      <h1 class="lg:text-heading-h1 text-center lg:text-left text-heading-h3 text-primary-black mb-6">
        The Free
        <span class="text-accent-peach">Wishlist</span>
        &
        <span class="text-accent-peach">Online Store</span>
        for Creators
      </h1>
      <p class="text-body-md lg:text-body-xl text-center lg:text-left text-primary-text mb-8">
        Receive gifts from your fans privately and securely with your own wishlist link. Also, sell products directly to
        your fans from your own online store.
      </p>
      <div class="w-full flex items-center justify-center lg:justify-start gap-4 mb-8">
        {{ 'landing-users.png' | asset_url | img_tag: 'users', 'h-[43px] lg:h-[60px]', 'x60' }}
        <span class="text-body-sm lg:text-body-md text-primary-black"
          >Create your FREE account now. It’s fast & easy.</span
        >
      </div>
      <div class="w-full flex items-center justify-center lg:justify-start gap-7">
        <a class="btn btn-primary !py-4" href="/account/register"> 🔥 Get Started </a>
        <a class="btn btn-text-primary flex items-center gap-[10px]" href="/pages/how-it-works">
          <span>Learn More</span>
          <svg
            class="{{ class }}"
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m14.43 6.68 6.07 6.07-6.07 6.07M3.5 12.75h16.83"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </a>
      </div>
    </div>
    {{ 'landing-img0.png' | asset_url | img_tag: 'landing-img0', 'w-full order-1 lg:order-2', '600x' }}
  </div>
  <p class="text-body-sm text-primary-text text-center mb-16">
    Link your custom wishlist or store from your social media accounts
  </p>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-7 opacity-40">
    <div class="flex items-center justify-center">
      {% render 'logo-tiktok.liquid' %}
    </div>
    <div class="flex items-center justify-center">
      {% render 'logo-instagram.liquid' %}
    </div>
    <div class="flex items-center justify-center">
      {% render 'logo-youtube.liquid' %}
    </div>
    <div class="flex items-center justify-center">
      {% render 'logo-twitter.liquid' %}
    </div>
    <div class="flex items-center justify-center col-span-2 md:col-span-1">
      {% render 'logo-twitch.liquid' %}
    </div>
  </div>
</div>
