<section class="bg-accent-blue">
  <div class="container px-[420px] py-[100px] flex flex-col items-center text-center">
    {{ 'landing-users1.png' | asset_url | img_tag: 'users', 'mx-auto h-[60px] mb-[52px]', 'x60' }}
    <h2 class="text-heading-h2 text-primary-black mb-4">Join our Community</h2>
    <p class="text-body-md text-primary-black mb-[52px]">
      Creators from around the world have chosen Fangift to engage with their fans. Discover their stories and
      experiences, and how you too can maximize the power of your fan connection.
    </p>
    <div class="flex gap-4">
      <div class="p-4 border border-primary-border bg-primary-white rounded-[16px] flex items-center text-[18px] w-[287px]">
        <span class="text-primary-black">fangift.com/</span>
        <input
          id="username-creator"
          name="username-creator"
          type="text"
          class="p-0 border-none focus:ring-0 placeholder-primary-border w-full"
          placeholder="@username"
        >
      </div>
      <button
        id="btn-creator"
        class="btn btn-primary"
        type="submit"
      >
        Create page 🌟
      </button>
    </div>
  </div>
</section>
