<div class="container pt-26">
  <div class="px-6 xl:px-[320px] flex flex-col items-center gap-4 text-center">
    <div class="w-fit px-5 py-3 bg-accent-purple/10 text-accent-purple text-[18px] rounded-[16px]">It's free! 🎉</div>
    <h2 class="text-heading-h4 lg:text-heading-h2 text-primary-black">
      Your Private Wishlist for Exclusive Products in Your Country!
    </h2>
    <p class="hidden lg:block px-[142px] text-body-md text-primary-text">
      We make sure the products you want are available in your country. Create your free wishlist and start receiving
      gifts today!
    </p>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2">
    {{ 'landing-img1.png' | asset_url | img_tag: 'landing img1', '', '600x' }}
    <div class="grid divide-y divide-primary-border px-6 lg:pr-[100px] lg:py-[96px]">
      <div class="flex flex-col lg:flex-row gap-[42px] h-fit py-[30px]">
        {% render 'icon-heart.liquid' : class: 'min-w-[58px]' %}
        <div class="grid grid-cols-1 gap-4">
          <h4 class="text-heading-h4 text-primary-black ">Build & Share Your Wishlist</h4>
          <p class="text-body-md text-primary-text">
            Register now and build your private wishlist with exclusive products available in your country.
          </p>
          <a class="btn btn-text-primary flex justify-start items-center gap-[10px] !p-0" href="/pages/how-it-works">
            <span>How it works</span>
            <svg
              class="{{ class }}"
              width="24"
              height="25"
              viewBox="0 0 24 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m14.43 6.68 6.07 6.07-6.07 6.07M3.5 12.75h16.83"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </a>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-[42px] h-fit py-[30px]">
        {% render 'icon-gift.liquid' : class: 'min-w-[58px]' %}
        <div class="grid grid-cols-1 gap-4">
          <h4 class="text-heading-h4 text-primary-black ">Receive Gifts from your fans</h4>
          <p class="text-body-md text-primary-text">
            Get ready to receive gifts from your fans. We ship them to you privately and securely.
          </p>
          <a class="btn btn-text-primary flex justify-start items-center gap-[10px] !p-0" href="/account/register">
            <span>Get Started</span>
            <svg
              class="{{ class }}"
              width="24"
              height="25"
              viewBox="0 0 24 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m14.43 6.68 6.07 6.07-6.07 6.07M3.5 12.75h16.83"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </a>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-[42px] h-fit py-[30px]">
        {% render 'icon-msg.liquid' : class: 'min-w-[58px]' %}
        <div class="grid grid-cols-1 gap-4">
          <h4 class="text-heading-h4 text-primary-black ">Private & Secure</h4>
          <p class="text-body-md text-primary-text">
            Fans never see your address. Your shipping information is kept private and secure.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
