<div class="border-t border-primary-border bg-[url(terms-bg.svg)] bg-no-repeat bg-cover bg-center">
  <div class="container py-[100px] pl-[100px] pr-[124px] grid grid-cols-1 gap-8">
    <div class="rounded-[16px] bg-[#f4f8ff] text-[18px] px-[20px] py-[11px] text-primary w-fit">
      🛍️ FanGift Global Marketplace
    </div>
    <h3 class="text-heading-h3 text-primary">
      Discover an incredible collection of products from talented creators and vendors worldwide.
    </h3>
    <p class="text-body-xl text-primary/80 pr-[270px]">
      To access the FanGift marketplace and explore a wide range of amazing products, you need to be logged in. Don't
      worry, signing up or logging in is quick and easy! By creating an account, you unlock a world of gifting
      possibilities and connect with a vibrant community of creators and fans. Sign up or log in now to discover unique
      and exciting products in our marketplace. Start exploring and find the perfect gifts that will make every occasion
      special. Join FanGift today and let the gifting journey begin!
    </p>
    <a class="btn btn-primary !py-4 w-fit" href="/pages/register"> 🔥 Sign Up Now </a>
  </div>
</div>
