<div class="bg-primary-background">
  <div class="container px-[45px] pb-[100px] grid grid-cols-1">
    <div
      class="px-6 py-4 flex items-center justify-between bg-primary-white rounded-[8px] mb-4 -mt-8"
      id="tab-order-buttons"
    >
      <ul class="flex gap-6 text-primary-border">
        <li>
          <button
            type="button"
            id="tab-wishlist"
            data-tabs-target="#tab-content-wishlist"
          >
            <h4 class="text-heading-h4 [.active>&]:text-primary-black">My Gifts</h4>
          </button>
        </li>
        <li>
          <button
            type="button"
            id="tab-sent"
            data-tabs-target="#tab-content-sent"
          >
            <h4 class="text-heading-h4 [.active>&]:text-primary-black">Sent Gifts</h4>
          </button>
        </li>
      </ul>
    </div>
    <div class="py-6 px-2 bg-primary-white">
      <div class="relative overflow-x-auto">
        <table class="w-full text-body-xs text-left table-fixed" id="tab-content-wishlist">
          <thead class="text-primary-text bg-primary-background rounded-[8px]">
            <tr>
              <th scope="col" class="px-4 py-2">Order ID</th>
              <th
                scope="col"
                colspan="3"
                class="px-4 py-2"
              >
                Gifted Item
              </th>
              <th
                scope="col"
                colspan="2"
                class="px-4 py-2"
              >
                Gifter
              </th>
              <th
                scope="col"
                colspan="3"
                class="px-4 py-2"
              >
                Gifter Message
              </th>
              <th
                scope="col"
                colspan="2"
                class="px-4 py-2"
              >
                Order Date
              </th>
              <th
                scope="col"
                colspan="2"
                class="px-4 py-2"
              >
                Status
              </th>
              <th scope="col" class="px-4 py-2">Price</th>
            </tr>
          </thead>
          <tbody class="text-primary-black" id="tbody-my-gifts"></tbody>
        </table>
        <table class="w-full text-body-xs text-left table-fixed" id="tab-content-sent">
          <thead class="text-primary-text bg-primary-background rounded-[8px]">
            <tr>
              <th scope="col" class="px-4 py-2">Order ID</th>
              <th
                scope="col"
                class="px-4 py-2"
                colspan="3"
              >
                Gifted Item
              </th>
              <th
                scope="col"
                colspan="2"
                class="px-4 py-2"
              >
                Gifted to
              </th>
              <th
                scope="col"
                class="px-4 py-2"
                colspan="3"
              >
                Your Message
              </th>
              <th
                scope="col"
                colspan="2"
                class="px-4 py-2"
              >
                Order Date
              </th>
              <th
                scope="col"
                colspan="2"
                class="px-4 py-2"
              >
                Status
              </th>
              <th scope="col" class="px-4 py-2">Price</th>
            </tr>
          </thead>
          <tbody class="text-primary-black" id="tbody-sent-gifts"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{ 'orders.min.js' | asset_url | script_tag }}
