{{ 'settings.min.css' | asset_url | stylesheet_tag }}

<div class="bg-primary-background">
  <div class="bg-primary-white border-b border-primary-border">
    <div class="container px-6 md:px-[100px]">
      <div class="h-[70px] flex items-center">
        <ul class="flex flex-wrap gap-10 text-center text-primary-text text-body-sm">
          <li>
            <button
              id="profile-tab"
              data-tabs-target="#profile"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">Profile</span>
            </button>
          </li>
          <li>
            <button
              id="address-tab"
              data-tabs-target="#address"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">Address</span>
            </button>
          </li>
          <li>
            <button
              id="size-tab"
              data-tabs-target="#address"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">My Sizes</span>
            </button>
          </li>
          <li>
            <button
              id="social-tab"
              data-tabs-target="#social"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">My Social</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="border-b border-primary-border lg:bg-[url(settings-bg.svg)] bg-cover bg-[#FAFAFA]">
    <div class="container px-6 py-5 md:px-[100px] md:py-[40px]">
      <div id="profile">
        <div class="md:w-[550px] md:mx-auto md:py-12 pb-12 md:px-20 md:bg-white md:rounded-[16px]">
          {%
            render 'avatar' : id: 'profile-avatar'
            , editable: true
            , class: 'mx-auto mb-8'
          %}
          <label for="username" class="text-body-sm mb-2 block"> Username </label>
          <div class="py-4 px-[68px] border border-primary-border bg-primary-white rounded-[16px] flex items-center text-[18px] mb-4">
            <span class="text-primary-black">fangift.com/</span>
            <input
              id="username"
              name="username"
              type="text"
              class="p-0 border-none focus:ring-0 placeholder-primary-border text-accent-peach w-full"
              placeholder="username"
              readonly
              autofocus
            >
          </div>
          <label for="public-name" class="text-body-sm mb-2 block"> Public name </label>
          <input
            type="text"
            id="public-name"
            name="public-name"
            placeholder="Public name"
            class="textfield mb-4"
          >
          <label for="bio" class="text-body-sm mb-2 block"> Short bio </label>
          <textarea
            id="bio"
            name="bio"
            rows="4"
            class="textfield mb-4 resize-none"
            placeholder="Enter short bio"
          ></textarea>
          <button
            type="button"
            class="btn btn-primary w-full"
            id="btn-save-profile"
          >
            Save Changes
          </button>
        </div>
      </div>
      <div id="address" class="relative">
        <div class="lg:mx-auto max-w-[800px] w-full px-6 py-4 bg-[#ffffdb] rounded-[16px] mb-4">
          <div class="w-fit mx-auto flex items-center justify-center gap-4 mb-4">
            <div class="w-[50px] h-[50px] rounded-full flex items-center justify-center bg-blue-500 shrink-0">
              {% render 'icon-hidden' %}
            </div>
            <h4 class="text-heading-h4">Your Address is Hidden & Private</h4>
          </div>
          <p class="text-body-md">
            The shipping address you provide below will NOT be visible to anyone except for our shipping department
            personnel. You can feel safe entering your address below.
          </p>
        </div>
        <div class="lg:mx-auto max-w-[800px] w-full lg:py-12 pb-12 lg:px-20 lg:bg-white lg:rounded-[16px] blur-sm content">
          <h3 class="text-heading-h3 mb-8">Your Shipping Address</h3>
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4">
            <div>
              <label for="first-name" class="text-body-sm mb-2 block required"> First Name </label>
              <input
                type="text"
                id="first-name"
                name="firstname"
                placeholder="First Name"
                class="textfield"
              >
            </div>
            <div>
              <label for="last-name" class="text-body-sm mb-2 block required"> Last Name </label>
              <input
                type="text"
                id="last-name"
                name="lastname"
                placeholder="Last Name"
                class="textfield"
              >
            </div>
          </div>
          <label for="address1" class="text-body-sm mb-2 block required"> Address Line 1 </label>
          <input
            type="text"
            id="address1"
            name="address1"
            placeholder="Street"
            class="textfield mb-4"
          >
          <label for="address2" class="text-body-sm mb-2 block"> Address Line 2 </label>
          <input
            type="text"
            id="address2"
            name="address2"
            placeholder="Apt/Unit/Suite"
            class="textfield mb-4"
          >
          <label for="select-country" class="text-body-sm mb-2 block required"> Country </label>
          <div class="mb-4">
            <select
              id="select-country"
              placeholder="Country"
              class="btn-dropdown"
              autocomplete="off"
            ></select>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mb-4">
            <div>
              <label for="city" class="text-body-sm mb-2 block required"> City </label>
              <input
                type="text"
                id="city"
                name="city"
                placeholder="City"
                class="textfield"
              >
            </div>
            <div>
              <label for="state" class="text-body-sm mb-2 block required"> State / Province </label>
              <input
                type="text"
                id="state"
                name="state"
                placeholder="State"
                class="textfield"
              >
            </div>
            <div>
              <label for="zip" class="text-body-sm mb-2 block required"> ZIP / Postal Code </label>
              <input
                type="text"
                id="zip"
                name="zip"
                placeholder=""
                class="textfield"
              >
            </div>
          </div>
          <label for="phone-number" class="text-body-sm mb-2 block required"> Phone Number </label>
          <input
            type="text"
            id="phone-number"
            name="phone-number"
            placeholder="Phone Number"
            class="textfield mb-8"
          >
          <button
            type="button"
            class="btn btn-primary w-full"
            id="btn-save-address"
          >
            Save Changes
          </button>
        </div>
      </div>
      <div id="size" class="relative">
        <div class="lg:mx-auto max-w-[800px] w-full px-6 py-4 bg-[#caddfb] rounded-[16px] mb-4">
          <div class="w-fit mx-auto flex items-center justify-center gap-4 mb-4">
            <div class="w-[50px] h-[50px] rounded-full flex items-center justify-center bg-blue-500 shrink-0">
              {% render 'icon-hidden' %}
            </div>
            <h4 class="text-heading-h4">Get the right sizes</h4>
          </div>
          <p class="text-body-md">
            We want to give you the ultimate experience. Enter your personal sizes below. We NEVER share this
            information. Get the right size gifts without giving up your privacy.
          </p>
        </div>
        <form class="lg:mx-auto max-w-[800px] min-h-[70vh] w-full lg:py-12 pb-12 lg:px-20 lg:bg-white lg:rounded-[16px] content blur-sm">
          <h3 class="text-heading-h3 mb-8">Your Sizes</h3>
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4">
            <div>
              <label for="sizeStandard" class="text-body-sm mb-2 block required"> Size Standard </label>
              <select
                id="sizeStandard"
                placeholder="Size Standard"
                class="btn-dropdown"
                value=""
                autocomplete="off"
              >
                <option
                  value=""
                  disabled
                  selected
                  hidden
                ></option>
                <option value="us">US Sizes</option>
                <option value="uk">UK Sizes</option>
                <option value="europe">Europe Sizes</option>
              </select>
            </div>
            <div>
              <label for="gender" class="text-body-sm mb-2 block required"> Gender </label>
              <select
                id="gender"
                placeholder="Gender"
                class="btn-dropdown"
                autocomplete="off"
              >
                <option
                  value=""
                  disabled
                  selected
                  hidden
                ></option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-12">
            <div class="female-size male-size hidden">
              <label for="shirtSize" class="text-body-sm mb-2 block"> Shirt Size </label>
              <input
                type="text"
                id="shirtSize"
                name="shirt-size"
                placeholder="Shirt Size"
                class="textfield"
              >
            </div>
            <div class="female-size male-size hidden">
              <label for="pantSize" class="text-body-sm mb-2 block"> Pant Size </label>
              <input
                type="text"
                id="pantSize"
                name="pant-size"
                placeholder="Pant Size"
                class="textfield"
              >
            </div>
            <div class="female-size hidden">
              <label for="dressSize" class="text-body-sm mb-2 block"> Dress Size </label>
              <input
                type="text"
                id="dressSize"
                name="dress-size"
                placeholder="Dress Size"
                class="textfield"
              >
            </div>
            <div class="female-size male-size hidden">
              <label for="shoeSize" class="text-body-sm mb-2 block"> Shoe Size </label>
              <input
                type="text"
                id="shoeSize"
                name="shoe-size"
                placeholder="Shoe Size"
                class="textfield"
              >
            </div>
            <div class="female-size hidden">
              <label for="braSize" class="text-body-sm mb-2 block"> Bra Size </label>
              <input
                type="text"
                id="braSize"
                name="bra-size"
                placeholder="Bra Size"
                class="textfield"
              >
            </div>
            <div class="female-size hidden">
              <label for="underwearSize" class="text-body-sm mb-2 block"> Underwear Size </label>
              <input
                type="text"
                id="underwearSize"
                name="underwear-size"
                placeholder="Underwear Size"
                class="textfield"
              >
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-primary w-full hidden"
            id="btn-save-sizes"
          >
            Save Changes
          </button>
        </form>
      </div>
      <div id="social" class="relative">
        <div class="lg:mx-auto max-w-[800px] w-full px-6 py-4 bg-[#caddfb] rounded-[16px] mb-4">
          <div class="w-fit mx-auto flex items-center justify-center gap-4 mb-4">
            <div class="w-[50px] h-[50px] text-[32px] font-bold text-white rounded-full flex items-center justify-center bg-blue-500 shrink-0">
              #
            </div>
            <h4 class="text-heading-h4">Share your social media</h4>
          </div>
          <p class="text-body-md">
            Enter your social accounts below so we can follow and promote you. Entering your social accounts will also
            make you available for special promotions.
          </p>
        </div>
        <div class="lg:mx-auto max-w-[800px] w-full lg:py-12 pb-12 lg:px-20 lg:bg-white lg:rounded-[16px] blur-sm content">
          <h3 class="text-heading-h3 mb-12">Your social</h3>
          <div class="max-w-[400px] mx-auto flex flex-col gap-8 mb-14">
            <div class="flex items-center gap-4">
              <svg
                class="w-[32px] h-[32px]"
                xmlns="http://www.w3.org/2000/svg"
                height="16"
                width="14"
                viewBox="0 0 448 512"
              >
                <path
                  opacity="1"
                  fill="#1E3050"
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
              </svg>
              <input
                type="text"
                id="instagram"
                name="instagram"
                placeholder="Instagram username"
                class="textfield"
              >
            </div>
            <div class="flex items-center gap-4">
              <svg
                class="w-[32px] h-[32px]"
                xmlns="http://www.w3.org/2000/svg"
                height="16"
                width="14"
                viewBox="0 0 448 512"
              >
                <path
                  opacity="1"
                  fill="#1E3050"
                  d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z" />
              </svg>
              <input
                type="text"
                id="tiktok"
                name="tiktok"
                placeholder="Tiktok username"
                class="textfield"
              >
            </div>
            <div class="flex items-center gap-4">
              <svg
                class="w-[32px] h-[32px]"
                xmlns="http://www.w3.org/2000/svg"
                height="16"
                width="16"
                viewBox="0 0 512 512"
              >
                <path
                  opacity="1"
                  fill="#1E3050"
                  d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
              </svg>
              <input
                type="text"
                id="twitter"
                name="twitter"
                placeholder="Twitter/X username"
                class="textfield"
              >
            </div>
            <div class="flex items-center gap-4">
              <svg
                class="w-[32px] h-[32px]"
                xmlns="http://www.w3.org/2000/svg"
                height="16"
                width="10"
                viewBox="0 0 320 512"
              >
                <path
                  opacity="1"
                  fill="#1E3050"
                  d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z" />
              </svg>
              <input
                type="text"
                id="facebook"
                name="facebook"
                placeholder="Facebook username"
                class="textfield"
              >
            </div>
          </div>
          <button
            type="button"
            class="btn btn-primary w-full"
            id="btn-save-socials"
          >
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="modal-change-country"
  tabindex="-1"
  class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-xl max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button
        type="button"
        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center"
        id="btn-close-change-country"
      >
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
      </button>
      <div class="px-6 py-10">
        <h3 class="mb-5 text-lg font-normal text-center text-red-600">Are you sure you have changed countries?</h3>
        <p class="text-body-md mb-8">
          Warning. You are about to change your "Ship to" country. This may result in existing products in your wishlist
          to not be available to be shipped to the new country.
        </p>
        <div class="flex justify-center gap-2 md:flex-row flex-col ">
          <div class="error" error="Enter correct username!">
            <input
              type="text"
              class="textfield px-2 py-1 rounded-[8px]"
              id="input-username-country-change"
              placeholder="Enter your username"
            >
          </div>
          <div class="grid grid-cols-2 gap-2 flex-shrink-0">
            <button
              type="button"
              class="btn-sure-change-country h-fit text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex justify-center items-center px-5 py-2.5 text-center"
            >
              Yes, I understand
            </button>
            <button
              type="button"
              class="btn-cancel-change-country h-fit text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
            >
              No, cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ 'settings.min.js' | asset_url | script_tag }}
