<div class="bg-primary-background">
  <div class="bg-primary-white border-b border-primary-border">
    <div class="container px-[100px]">
      <div class="h-[70px] flex items-center">
        <ul class="flex flex-wrap gap-10 text-center text-primary-text text-body-sm">
          <li>
            <button
              id="profile-tab"
              data-tabs-target="#profile"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">Profile</span>
            </button>
          </li>
          <li>
            <button
              id="account-tab"
              data-tabs-target="#account"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">Account</span>
            </button>
          </li>
          <li>
            <button
              id="wishlist-tab"
              data-tabs-target="#wishlist"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">Wishlist</span>
            </button>
          </li>
          <li>
            <button
              id="address-tab"
              data-tabs-target="#address"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">Address</span>
            </button>
          </li>
          <li>
            <button
              id="social-links-tab"
              data-tabs-target="#social-links"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">Social Links</span>
            </button>
          </li>
          <li>
            <button
              id="wishlist-analytics-tab"
              data-tabs-target="#wishlist-analytics"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">Wishlist Analytics</span>
            </button>
          </li>
          <li>
            <button
              id="store-analytics-tab"
              data-tabs-target="#store-analytics"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">Store Analytics</span>
            </button>
          </li>
          <li>
            <button
              id="balance-tab"
              data-tabs-target="#balance"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">Balance</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="border-b border-primary-border bg-[url(settings-bg.svg)] bg-cover bg-[#FAFAFA]">
    <div class="container px-[100px] py-[40px]">
      <div id="profile">
        <div class="w-[550px] mx-auto py-12 px-20 bg-white rounded-[16px]">
          {% render 'avatar': editable: true, class: 'mx-auto mb-8' %}
          <label for="username" class="text-body-sm mb-2 block"> Username </label>
          <div class="py-4 px-[68px] border border-primary-border bg-primary-white rounded-[16px] flex items-center text-[18px] mb-4">
            <span class="text-primary-black">fangift.com/</span>
            <input
              id="username"
              name="username"
              type="text"
              class="p-0 border-none focus:ring-0 placeholder-primary-border text-accent-peach w-full"
              placeholder="@username"
              autofocus
            >
          </div>
          <label for="txt-public-name" class="text-body-sm mb-2 block"> Public name </label>
          <input
            type="text"
            id="txt-public-name"
            name="public-name"
            placeholder="Public name"
            class="textfield mb-4"
          >
          <div class="flex gap-2">
            <div class="relative w-full">
              <button
                id="dropdown-toggle-month"
                data-dropdown-toggle="dropdown-month"
                class="btn-dropdown mb-4 h-[60px]"
                type="button"
              >
                <span class="displayed-value">Jan</span>
                {% render 'icon-arrow-dropdown' %}
              </button>
              <!-- Dropdown menu -->
              <div id="dropdown-month" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-full">
                <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdown-toggle-month">
                  {% assign months = 'Jan,Feb,March,April,May,June,July,August,September,October,November,December'
                    | split: ','
                  %}
                  {% for month in months %}
                    <li class="block px-4 py-2 hover:bg-gray-100" data-value="{{ forloop.index }}">
                      {{ month }}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <input
              type="text"
              id="txt-day"
              name="day"
              placeholder="Day"
              class="textfield mb-4"
            >
          </div>
          <label for="txt-bio" class="text-body-sm mb-2 block"> Short bio </label>
          <textarea
            id="txt-bio"
            name="bio"
            rows="4"
            class="textfield mb-4 resize-none"
            placeholder="Enter short bio"
          ></textarea>
          <button type="button" class="btn btn-primary w-full">Save Changes</button>
        </div>
      </div>
      <div id="account"></div>
      <div id="wishlist"></div>
      <div id="address"></div>
      <div id="social-links"></div>
      <div id="wishlist-analytics"></div>
      <div id="store-analytics"></div>
      <div id="balance"></div>
    </div>
  </div>
</div>

{{ 'settings.min.js' | asset_url | script_tag }}
