{{ 'settings.min.css' | asset_url | stylesheet_tag }}

<div class="bg-primary-background">
  <div class="bg-primary-white border-b border-primary-border">
    <div class="container px-[100px]">
      <div class="h-[70px] flex items-center">
        <ul class="flex flex-wrap gap-10 text-center text-primary-text text-body-sm">
          <li>
            <button
              id="profile-tab"
              data-tabs-target="#profile"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">Profile</span>
            </button>
          </li>
          <li>
            <button
              id="address-tab"
              data-tabs-target="#address"
              class="inline-flex items-center gap-2 justify-center py-4"
            >
              <span class="[.active>&]:text-accent-purple">Address</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="border-b border-primary-border bg-[url(settings-bg.svg)] bg-cover bg-[#FAFAFA]">
    <div class="container px-[100px] py-[40px]">
      <div id="profile">
        <div class="w-[550px] mx-auto py-12 px-20 bg-white rounded-[16px]">
          {% render 'avatar': id: 'profile-avatar', editable: true, class: 'mx-auto mb-8' %}
          <label for="username" class="text-body-sm mb-2 block"> Username </label>
          <div class="py-4 px-[68px] border border-primary-border bg-primary-white rounded-[16px] flex items-center text-[18px] mb-4">
            <span class="text-primary-black">fangift.com/<span class="text-accent-peach">@</span></span>
            <input
              id="username"
              name="username"
              type="text"
              class="p-0 border-none focus:ring-0 placeholder-primary-border text-accent-peach w-full"
              placeholder="username"
              readonly
              autofocus
            >
          </div>
          <label for="public-name" class="text-body-sm mb-2 block"> Public name </label>
          <input
            type="text"
            id="public-name"
            name="public-name"
            placeholder="Public name"
            class="textfield mb-4"
          >
          {% comment %}
            <div class="flex gap-2">
              <div class="relative w-full">
                <button
                  id="dropdown-toggle-month"
                  data-dropdown-toggle="dropdown-month"
                  class="btn-dropdown mb-4 h-[60px]"
                  type="button"
                >
                  <span class="displayed-value">Jan</span>
                  {% render 'icon-arrow-dropdown' %}
                </button>
                <!-- Dropdown menu -->
                <div id="dropdown-month" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-full">
                  <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdown-toggle-month">
                    {% assign months = 'Jan,Feb,March,April,May,June,July,August,September,October,November,December'
                      | split: ','
                    %}
                    {% for month in months %}
                      <li class="block px-4 py-2 hover:bg-gray-100" data-value="{{ forloop.index }}">
                        {{ month }}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <input
                type="number"
                id="day"
                name="day"
                min="1"
                max="12"
                placeholder="Day"
                class="textfield mb-4"
              >
            </div>
          {% endcomment %}
          <label for="bio" class="text-body-sm mb-2 block"> Short bio </label>
          <textarea
            id="bio"
            name="bio"
            rows="4"
            class="textfield mb-4 resize-none"
            placeholder="Enter short bio"
          ></textarea>
          <button type="button" class="btn btn-primary w-full" id="btn-save-profile">Save Changes</button>
        </div>
      </div>
      <div id="address" class="relative">
        <div class="w-[800px] mx-auto py-12 px-20 bg-white rounded-[16px] blur-sm content">
          <h3 class="text-heading-h3 mb-8">Your Address</h3>
          <div class="grid grid-cols-2 gap-4 mb-4">
            <div>
              <label for="first-name" class="text-body-sm mb-2 block required"> First Name </label>
              <input
                type="text"
                id="first-name"
                name="firstname"
                placeholder="First Name"
                class="textfield"
              >
            </div>
            <div>
              <label for="last-name" class="text-body-sm mb-2 block required"> Last Name </label>
              <input
                type="text"
                id="last-name"
                name="lastname"
                placeholder="Last Name"
                class="textfield"
              >
            </div>
          </div>
          <label for="address1" class="text-body-sm mb-2 block required"> Address Line 1 </label>
          <input
            type="text"
            id="address1"
            name="address1"
            placeholder="Street"
            class="textfield mb-4"
          >
          <label for="address2" class="text-body-sm mb-2 block"> Address Line 2 </label>
          <input
            type="text"
            id="address2"
            name="address2"
            placeholder="Apt/Unit/Suite"
            class="textfield mb-4"
          >
          <label for="select-country" class="text-body-sm mb-2 block required"> Country </label>
          <div class="mb-4">
            <select id="select-country" placeholder="Country" class="btn-dropdown" autocomplete="off"></select>
          </div>
          <div class="grid grid-cols-3 gap-4 mb-4">
            <div>
              <label for="city" class="text-body-sm mb-2 block required"> City </label>
              <input
                type="text"
                id="city"
                name="city"
                placeholder="City"
                class="textfield"
              >
            </div>
            <div>
              <label for="state" class="text-body-sm mb-2 block required"> State / Province </label>
              <input
                type="text"
                id="state"
                name="state"
                placeholder="State"
                class="textfield"
              >
            </div>
            <div>
              <label for="zip" class="text-body-sm mb-2 block required"> ZIP / Postal Code </label>
              <input
                type="text"
                id="zip"
                name="zip"
                placeholder=""
                class="textfield"
              >
            </div>
          </div>
          <label for="phone-number" class="text-body-sm mb-2 block required"> Phone Number </label>
          <input
            type="text"
            id="phone-number"
            name="phone-number"
            placeholder="Phone Number"
            class="textfield mb-8"
          >
          <button type="button" class="btn btn-primary w-full" id="btn-save-address">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{ 'settings.min.js' | asset_url | script_tag }}
