<div class="bg-primary-background flex flex-col">
  <div class="container px-6 py-4 md:px-[45px] md:pb-[100px]">
    <div class="grid grid-cols-10">
      <div class="col-span-10 md:col-span-3 md:mt-[-150px]">
        <div id="profile" class="bg-primary-white rounded-[8px] px-6 py-4 mb-5 relative">
          <div class="flex md:flex-col mb-2 md:mb-0 gap-2">
            <div class="w-[80px] h-[80px] md:w-[120px] md:h-[120px] md:mx-auto md:mb-6 avatar flex items-center justify-center">
              <img
                class="rounded-full w-full h-full object-cover"
                src="{{ 'user-anonymous.png' | asset_url }}"
                id="img-user-picture"
              >
            </div>
            <div>
              <h4 class="text-heading-h4 text-black md:mb-2 text-center flex justify-center items-center gap-2">
                <span id="text-public-name">&nbsp;&nbsp;&nbsp;</span>
                <button class="btn-icon flex-shrink-0 flex md:hidden items-center justify-center rounded-full text-accent-purple btn-share">
                  <svg
                    fill="currentColor"
                    height="22px"
                    width="22px"
                    viewBox="0 0 60 60"
                  >
                    <path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30   S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z" />
                    <path d="M39,20c3.309,0,6-2.691,6-6s-2.691-6-6-6c-3.131,0-5.705,2.411-5.973,5.474L18.961,23.788C18.086,23.289,17.077,23,16,23   c-3.309,0-6,2.691-6,6s2.691,6,6,6c1.077,0,2.086-0.289,2.961-0.788l14.065,10.314C33.295,47.589,35.869,50,39,50   c3.309,0,6-2.691,6-6s-2.691-6-6-6c-2.69,0-4.972,1.78-5.731,4.223l-12.716-9.325C21.452,31.848,22,30.488,22,29   s-0.548-2.848-1.448-3.898l12.716-9.325C34.028,18.22,36.31,20,39,20z M39,10c2.206,0,4,1.794,4,4s-1.794,4-4,4s-4-1.794-4-4   S36.794,10,39,10z M12,29c0-2.206,1.794-4,4-4s4,1.794,4,4s-1.794,4-4,4S12,31.206,12,29z M39,40c2.206,0,4,1.794,4,4s-1.794,4-4,4   s-4-1.794-4-4S36.794,40,39,40z" />
                  </svg>
                </button>
              </h4>
              <p class="text-body-lg text-accent-peach text-center md:mb-6" id="text-username">&nbsp;&nbsp;&nbsp;</p>
            </div>
          </div>
          <p class="text-body-sm text-primary-text md:mb-6" id="text-bio">&nbsp;&nbsp;&nbsp;</p>
          <div class="flex gap-2 items-center mb-6">
            <button class="btn btn-link flex-grow hidden md:flex btn-share-profile">
              {% render 'icon-link' %}
              <span>Share</span>
            </button>
            <button class="btn-icon flex-shrink-0 hidden md:flex items-center justify-center rounded-full text-accent-purple btn-share">
              <svg
                fill="currentColor"
                height="32px"
                width="32px"
                viewBox="0 0 60 60"
              >
                <path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30   S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z" />
                <path d="M39,20c3.309,0,6-2.691,6-6s-2.691-6-6-6c-3.131,0-5.705,2.411-5.973,5.474L18.961,23.788C18.086,23.289,17.077,23,16,23   c-3.309,0-6,2.691-6,6s2.691,6,6,6c1.077,0,2.086-0.289,2.961-0.788l14.065,10.314C33.295,47.589,35.869,50,39,50   c3.309,0,6-2.691,6-6s-2.691-6-6-6c-2.69,0-4.972,1.78-5.731,4.223l-12.716-9.325C21.452,31.848,22,30.488,22,29   s-0.548-2.848-1.448-3.898l12.716-9.325C34.028,18.22,36.31,20,39,20z M39,10c2.206,0,4,1.794,4,4s-1.794,4-4,4s-4-1.794-4-4   S36.794,10,39,10z M12,29c0-2.206,1.794-4,4-4s4,1.794,4,4s-1.794,4-4,4S12,31.206,12,29z M39,40c2.206,0,4,1.794,4,4s-1.794,4-4,4   s-4-1.794-4-4S36.794,40,39,40z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="col-span-10 md:col-span-7 md:pt-[32px] md:pl-[57px]" id="wishlist">
        <h5 class="text-heading-h5 text-primary-black mb-6">My Wishlist</h5>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-[28px] relative" id="container-all-gifts"></div>
      </div>
    </div>
  </div>

  <div
    id="drawer-cart"
    class="drawer"
    tabindex="-1"
    aria-labelledby="drawer-label"
  >
    <button
      type="button"
      class="btn-close-drawer"
      id="btn-close-cart"
    >
      {% render 'icon-close' : class: 'w-3 h-3' %}
    </button>
    <h4 class="text-heading-h4 mb-[76px]">Gift Cart 🎀</h4>
    <div class="flex-grow mb-8">
      <div class="grid grid-cols-1 gap-8" id="container-gift-cart"></div>
    </div>

    <hr class="border-1 -mx-6 md:-mx-10 mb-8">
    <div class="flex justify-between items-center mb-8">
      <p>Subtotal:</p>
      <span id="text-subtotal"></span>
    </div>

    <textarea
      id="text-message"
      rows="4"
      class="textarea mb-8 max-h-[150px] flex-shrink-0"
      placeholder="Your gift message...."
    ></textarea>

    <button
      id="btn-checkout"
      type="button"
      class="btn btn-primary flex-shrink-0 w-full"
    >
      Checkout
    </button>
  </div>
</div>

<div
  id="drawer-gift-details"
  class="drawer"
  tabindex="-1"
  aria-labelledby="drawer-label"
>
  <button type="button" class="btn-close-drawer">
    {% render 'icon-close' : class: 'w-3 h-3' %}
  </button>
  <h4 class="text-heading-h4 mb-4 md:mb-[76px]">Gift Details</h4>
  <input
    type="file"
    class="hidden"
    name="main-image"
    id="file-main-image"
  >
  <div class="mb-4 relative w-full md:w-[340px] rounded-[16px]">
    <img
      alt="product image"
      data-placeholder="{{ 'placeholder-image.png' | asset_url }}"
      class="w-[400px] h-[300px] object-contain rounded-[16px]"
      id="img-product-main"
    >
  </div>
  <h4 class="text-heading-h4 mb-4" id="text-title"></h4>
  <h5 class="text-heading-h5 mb-4">$<span id="text-price"></span></h5>
  <button
    type="button"
    class="btn btn-primary w-full mb-4"
    id="btn-add-cart"
  >
    Add to Cart
  </button>
  <h3 class="text-body-md mb-2">Product Description</h3>
  <div class="text-body-sm flex-grow text-gray-500" id="text-desc"></div>
</div>

{{ 'user.min.js' | asset_url | script_tag }}
