<div class="bg-primary-background">
  <div class="bg-primary-white border-b border-primary-border">
    <div class="container px-[45px] grid grid-cols-10">
      <div class="col-start-4 col-span-7">
        <div class="h-[70px] flex items-center justify-center">
          <ul class="flex flex-wrap gap-10 text-center text-primary-text text-body-sm">
            <li>
              <button
                id="wishlist-tab"
                data-tabs-target="#wishlist"
                class="inline-flex items-center gap-2 justify-center py-4 active"
              >
                {% render 'icon-heart-small': class: '[.active>&]:text-accent-peach' %}
                <span class="[.active>&]:text-accent-peach">Wishlist</span>
              </button>
            </li>
            <li>
              <button
                id="products-tab"
                data-tabs-target="#products"
                class="inline-flex items-center gap-2 justify-center py-4"
              >
                {% render 'icon-bag-tick': class: '[.active>&]:text-accent-peach' %}
                <span class="[.active>&]:text-accent-peach">Products</span>
                <div class="[.active>&]:text-accent-peach [.active>&]:border-accent-peach w-5 h-5 flex items-center justify-center border border-primary-border rounded-full text-[8px] font-plus-bold">
                  4
                </div>
              </button>
            </li>
            <li>
              <button
                id="gifts-tab"
                data-tabs-target="#gifts"
                class="inline-flex items-center gap-2 justify-center py-4"
              >
                {% render 'icon-profile': class: '[.active>&]:text-accent-peach' %}
                <span class="[.active>&]:text-accent-peach">Gifters</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container px-[45px] pb-[100px]">
    <div class="grid grid-cols-10">
      <div class="col-span-3 mt-[-232px]">
        <div id="profile" class="bg-primary-white rounded-[8px] px-6 py-4 mb-5">
          <div
            class="w-[120px] h-[120px] mx-auto mb-6 avatar flex items-center justify-center"
          >
            <img class="rounded-full w-full h-full object-cover" id="img-user-picture">
          </div>
          <h4 class="text-heading-h4 text-black mb-2 text-center" id="text-public-name">Public Name</h4>
          <p class="text-body-lg text-accent-peach text-center mb-6" id="text-username">@username</p>
          <button class="btn bg-primary-border py-[10px] text-body-sm w-full rounded-[5px] mb-2">Following</button>
          <button class="btn btn-link mb-6">
            {% render 'icon-link' %}
            <span>Share</span>
          </button>
          <p class="text-body-sm text-primary-text text-center mb-6" id="text-bio">Short Bio.</p>
          <button class="btn btn-link mb-4">
            {% render 'icon-instagram-small' %}
            <span>Instagram</span>
          </button>
          <button class="btn btn-link">
            {% render 'icon-twitch-small' %}
            <span>Twitch</span>
          </button>
        </div>
        <div id="leaderboard" class="bg-primary-white rounded-[8px] px-6 py-4 mb-5">
          <h4 class="text-heading-h4 text-black mb-6 text-center">Leaderboard</h4>
          <div class="grid grid-cols-1 gap-6">
            {% render 'leaderboard-row' | img: 'user3.png', username: 'La-Wedia', price: '130.00', order: 1 %}
            {% render 'leaderboard-row' | img: 'user-anonymous.png', username: 'Anonymous', price: '20.00', order: 2 %}
          </div>
        </div>
        <div id="recent-gifters" class="bg-primary-white rounded-[8px] px-6 py-4">
          <h4 class="text-heading-h4 text-black mb-6 text-center">Recent Gifters</h4>
          <div class="grid grid-cols-1 gap-6">
            {% render 'gifter' | img: 'user3.png', username: 'La-Wedia', ago: '2 minutes ago' %}
            {% render 'gifter' | img: 'user4.png', username: 'Monica-J', ago: '8 minutes ago' %}
            {% render 'gifter' | img: 'user5.png', username: 'Lucian02', ago: '4 hours ago' %}
            {% render 'gifter' | img: 'user-anonymous.png', username: 'Anonymous', ago: '2 days ago' %}
          </div>
        </div>
      </div>
      <div class="col-span-7 pt-[32px] pl-[57px]" id="wishlist">
        <h5 class="text-heading-h5 text-primary-black mb-6">All Gifts</h5>
        <div class="grid grid-cols-4 gap-[28px] relative" id="container-all-gifts"></div>
      </div>
      <div class="col-span-7 pt-[32px] pl-[57px]" id="products">
        <h5 class="text-heading-h5 text-primary-black mb-6">Sold by Syraphic</h5>
        <div class="grid grid-cols-4 gap-[28px]">
          {% render 'gift-card' | img: 'product0.png', title: 'Apple AirPods Max', price: '59.99', sold: true %}
          {% render 'gift-card' | img: 'product1.png', title: 'Oculus Quest', price: '59.99', sold: true %}
          {% render 'gift-card' | img: 'product2.png', title: 'The Workout Mat', price: '59.99', sold: true %}
          {% render 'gift-card' | img: 'product3.png', title: 'The Workout Mat', price: '59.99', sold: true %}
        </div>
      </div>
      <div class="col-span-7 pt-[32px] pl-[57px]" id="gifts">
        <div class="flex items-center gap-6 mb-6">
          <h5 class="text-heading-h5 text-primary-black">Received Gifts</h5>
          <span class="w-5 h-5 flex items-center justify-center border border-primary-border rounded-full text-[8px] font-plus-bold">
            3
          </span>
        </div>
        <div class="grid grid-cols-4 gap-[28px]">
          {% render 'gift-card' | img: 'product0.png', title: 'Apple AirPods Max', gifted_by: 'La-Wedia', external_link: 'amazon.com' %}
          {% render 'gift-card' | img: 'product1.png', title: 'Oculus Quest', gifted_by: 'La-Wedia' %}
          {% render 'gift-card' | img: 'product2.png', title: 'The Workout Mat', gifted_by: 'La-Wedia' %}
        </div>
      </div>
    </div>
  </div>

  <div
    id="drawer-cart"
    class="fixed top-0 right-0 z-40 h-screen px-[40px] py-[44px] overflow-y-auto translate-x-full bg-primary-background w-[600px] flex flex-col"
    tabindex="-1"
    aria-labelledby="drawer-label"
  >
    <button
      type="button"
      class="btn-close-drawer"
      id="btn-close-cart"
    >
      {% render 'icon-close': class: 'w-3 h-3' %}
    </button>
    <h4 class="text-heading-h4 mb-[76px]">Gift Cart 🎀</h4>
    <div class="flex-grow mb-8">
      <div class="grid grid-cols-1 gap-8" id="container-gift-cart"></div>
    </div>

    <hr class="border-1 -mx-10 mb-8">
    <div class="flex justify-between items-center mb-8">
      <p>Subtotal:</p>
      <span id="text-subtotal"></span>
    </div>
    <button
      id="btn-checkout"
      type="button"
      class="btn btn-primary flex-shrink-0 w-full"
    >
      Checkout
    </button>
  </div>
</div>

{{ 'user.min.js' | asset_url | script_tag }}
