<div class="bg-primary-background">
  <div class="container grid grid-cols-2">
    <div class="px-[100px] py-[100px] flex flex-col justify-center gap-6">
      <h2 class="text-heading-h2 text-primary">List your Products</h2>
      <p class="text-body-md text-[#868686]">
        Upload product details such as pricing, available countries, and product images. Our team will add your products
        to our catalog, linking them back to your vendor profile.
      </p>
    </div>
    {{ 'vendor-img2.png' | asset_url | img_tag: 'list products', 'my-6' }}
  </div>
</div>
