<div class="bg-primary">
  <div class="container px-[300px] py-[100px] text-center">
    <h2 class="text-heading-h2 mb-6 text-primary-white">Your Privacy, Our Priority</h2>
    <p class="text-body-lg text-primary-background">
      🔒 Fangift hosts all data on secure servers, guarded by advanced encryption standards.
      <br>
      🔒 We value your privacy – personal information remains confidential and is not shared between parties.
    </p>
  </div>
</div>
