<div class="bg-primary-white">
  <div class="container grid grid-cols-2">
    {{ 'vendor-img1.png' | asset_url | img_tag: 'vendor profile' }}
    <div class="px-[100px] py-[100px] flex flex-col justify-center gap-6">
      <h2 class="text-heading-h2 text-primary">Create Your Vendor Profile</h2>
      <p class="text-body-md text-[#868686]">
        Join Fangift by simply signing up as a vendor. It's a straightforward process designed to get you started
        quickly.
      </p>
      {% render 'arrow-button': label: 'Get Started' %}
    </div>
  </div>
</div>
