{% assign no_gift = true %}
{% assign has_collections = false %}

<div class="bg-primary-background">
  <div class="container px-[45px] pb-[100px] grid grid-cols-1 gap-x-[18px] gap-y-[16px]">
    <div class="-mt-8">
      <div class="px-6 py-4 flex items-center justify-between bg-primary-white rounded-[8px]">
        <h4 class="text-heading-h4 text-primary-black">My Wishlist</h4>
        <div class="flex items-center gap-6">
          <button
            data-dropdown-toggle="dropdown-filter"
            class="bg-primary-white border border-primary-text text-[12px] text-primary-text rounded-[5px] h-8 px-3 text-center inline-flex items-center gap-[6px]"
            type="button"
          >
            Filter
            {% render 'icon-arrow-dropdown' %}
          </button>
          <div
            id="dropdown-filter"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
          >
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Dashboard</a
                >
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Settings</a
                >
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Earnings</a
                >
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Sign out</a
                >
              </li>
            </ul>
          </div>
          <button
            data-dropdown-toggle="dropdown-sorting"
            class="bg-primary-white border border-primary-text text-[12px] text-primary-text rounded-full h-8 px-3 text-center inline-flex items-center gap-[6px]"
            type="button"
          >
            Sorting
            {% render 'icon-arrow-dropdown' %}
          </button>
          <div
            id="dropdown-sorting"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
          >
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Dashboard</a
                >
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Settings</a
                >
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Earnings</a
                >
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Sign out</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="min-h-[50vh] flex-col items-center justify-center gap-4 hidden" id="no-gifts">
      {% render 'icon-gift-big' %}
      <h3 class="text-heading-h3 text-primary-black">No Gifts Added Yet</h3>
      <p class="text-body-md text-primary-text">Your wishlist is empty. Click 'Add Gift' to add items.</p>
      <button
        type="button"
        class="btn btn-primary"
        id="btn-add-gift"
      >
        + Add gift
      </button>
    </div>
    <div class="hidden" id="collections">
      <div class="flex justify-between items-center">
        <h5 class="text-heading-h5">Collections</h5>
        <button class="btn-small bg-primary-border text-primary-black">
          {% render 'icon-plus' %}
          <span>Collection</span>
        </button>
      </div>
      <div class="grid grid-cols-4 gap-5" id="container-collections">
        {% render 'collection-card': title: 'Fitness', count: 16, previews: 'preview1.png,preview1-0.png,preview1-1.png' %}
        {% render 'collection-card': title: 'Fitness', count: 16, previews: 'preview1.png,preview1-0.png,preview1-1.png' %}
        {% render 'collection-card': title: 'Fitness', count: 16, previews: 'preview1.png,preview1-0.png,preview1-1.png' %}
        {% render 'collection-card': title: 'Fitness', count: 16, previews: 'preview1.png,preview1-0.png,preview1-1.png' %}
      </div>
      <div class="flex justify-between items-center">
        <h5 class="text-heading-h5">All Products</h5>
        <button class="btn-small bg-accent-peach text-primary-white">
          {% render 'icon-plus' %}
          <span>Product</span>
        </button>
      </div>
    </div>
    <div class="grid grid-cols-6 gap-x-[18px] gap-y-[16px] relative mb-12" id="container-wishlists"></div>
    <div class="flex justify-center">
      <button
        type="button"
        class="btn btn-primary-outlined flex items-center justify-center w-[160px]"
        id="btn-load-more"
        disabled
      >
        Load More
      </button>
    </div>
  </div>

  <div
    id="drawer-cash-gift"
    class="fixed top-0 right-0 z-40 h-screen px-[40px] py-[44px] overflow-y-auto translate-x-full bg-white w-[600px]"
    tabindex="-1"
    aria-labelledby="drawer-label"
  >
    <button
      type="button"
      data-drawer-hide="drawer-cash-gift"
      aria-controls="drawer-cash-gift"
      class="btn-close-drawer"
    >
      {% render 'icon-close': class: 'w-3 h-3' %}
    </button>
    <h4 class="text-heading-h4 mb-[76px]">Add Cash Gift 🎁</h4>
    <p class="text-body-sm text-primary-black mb-4">Gift Title</p>
    <p class="text-body-md text-primary-text mb-6">
      Let your community know how you would utilize this cash gift (e.g. "Short Film Production Budget" or "Rent")
    </p>
    <input
      type="text"
      placeholder="Add a title"
      class="textfield mb-6"
    >
    <p class="text-body-sm text-primary-black mb-4">Cash Amount</p>
    <div class="textfield-first-symbol mb-4">
      <span class="text-accent-purple">$</span>
      <input
        name="amount"
        type="number"
        placeholder="Amount"
      >
    </div>
    <button type="button" class="btn btn-primary w-full">Add a Cash Gift</button>
  </div>

  <div
    id="drawer-select-gift"
    class="fixed top-0 right-0 z-40 h-screen px-[40px] py-[44px] overflow-y-auto translate-x-full bg-primary-background w-[600px]"
    tabindex="-1"
  >
    <button type="button" class="btn-close-drawer">
      {% render 'icon-close': class: 'w-3 h-3' %}
    </button>
    <h4 class="text-heading-h4 mb-[76px]">Add Cash Gift 🎁</h4>
    <ul class="grid gap-4 grid-cols-1 mb-4">
      <li>
        <input
          type="radio"
          id="source-fangift"
          name="gift-source"
          value="fangift"
          class="hidden peer"
          checked
          required
        >
        <label
          for="source-fangift"
          class="card p-6 grid grid-cols-1 gap-1 cursor-pointer hover:bg-gray-100 peer-checked:border-accent-purple"
        >
          <h4 class="text-primary-black text-heading-h4">Select from FanGift</h4>
          <p class="text-primary-text text-body-md">Browse and select from FanGift’s vendors</p>
        </label>
      </li>
      <li>
        <input
          type="radio"
          id="select-product"
          name="gift-source"
          value="product"
          class="hidden peer"
          required
        >
        <label
          for="select-product"
          class="card p-6 grid grid-cols-1 gap-1 cursor-pointer hover:bg-gray-100 peer-checked:border-accent-purple"
        >
          <h4 class="text-primary-black text-heading-h4">Enter Product Link</h4>
          <p class="text-primary-text text-body-md">Enter product link from another store</p>
        </label>
      </li>
    </ul>
    <button
      id="btn-gift-next"
      type="button"
      class="btn btn-primary w-full"
    >
      Next 👉
    </button>
  </div>

  <div
    id="drawer-add-gift"
    class="fixed top-0 right-0 z-40 h-screen px-[40px] py-[44px] overflow-y-auto translate-x-full bg-primary-background w-[600px]"
    tabindex="-1"
    aria-labelledby="drawer-label"
  >
    <button
      type="button"
      class="btn-close-drawer"
    >
      {% render 'icon-close': class: 'w-3 h-3' %}
    </button>
    <h4 class="text-heading-h4 mb-[76px]">Add a gift 🎁</h4>
    <p class="text-body-sm text-primary-black mb-4">Enter Link from FanGift</p>
    <p class="text-body-md text-primary-text mb-4">
      Pick a product you love from the FanGift catalog. Simply click on it for details and copy the URL from the top of
      your browser. Paste the copied URL back here in the box. Don't forget, when a gift is bought, the vendor sends it
      straight to you.
    </p>
    <a href="#" class="text-accent-purple font-plus-bold text-body-md flex items-center gap-[10px] mb-4">
      Browse FanGift's Marketplace
      {% render 'icon-external' %}
    </a>
    <input
      type="text"
      placeholder="Paste Product URL"
      autofocus
      class="textfield mb-4"
    >
    <button
      id="btn-add-next"
      type="button"
      class="btn btn-primary w-full"
    >
      Next 👉
    </button>
  </div>

  <div
    id="drawer-gift-details"
    class="fixed top-0 right-0 z-40 h-screen px-[40px] py-[44px] overflow-y-auto translate-x-full bg-primary-background w-[600px]"
    tabindex="-1"
    aria-labelledby="drawer-label"
  >
    <button
      type="button"
      class="btn-close-drawer"
    >
      {% render 'icon-close': class: 'w-3 h-3' %}
    </button>
    <h4 class="text-heading-h4 mb-[76px]">Gift Details</h4>
    <input type="file" class="hidden" name="main-image" id="file-main-image">
    <div class="mb-4 relative w-[340px] rounded-[16px] group cursor-pointer" id="wrapper-main-image">
      <div class="absolute transition-all inset-0 z-10 items-center justify-center cursor-pointer hidden group-hover:flex text-[24px] text-primary-white">
        Click to upload image
      </div>
      <img
        alt="product image"
        class="w-[400px] h-[300px] object-contain rounded-[16px] transition-all group-hover:blur-sm"
        id="img-product-main"
      >
    </div>
    <div class="flex items-center gap-4">
      <input
        type="text"
        name="product-title"
        placeholder="Paste Product URL"
        class="textfield mb-4"
        id="text-product-title"
      >
      <div class="textfield-first-symbol mb-4">
        <span class="text-accent-purple">$</span>
        <input
          name="price"
          type="number"
          placeholder="Price"
          value="0.0"
          id="text-product-price"
        >
      </div>
    </div>
    {% render 'dropdown-list': placeholder: 'Select Collection (Optional)' %}
    <div class="flex items-center justify-between mb-6">
      <span class="text-body-sm text-primary-black">Digital Good</span>
      <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox" name="digital-good" class="sr-only peer" id="checkbox-digital-good">
        <div
          class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600"
        ></div>
      </label>
    </div>
    <input
      type="text"
      name="shipping price"
      placeholder="Shipping in $"
      class="textfield mb-4"
      id="text-shipping-price"
    >
    <button type="button" class="btn btn-primary w-full" id="btn-add-wishlist">💜 Add to Wishlist</button>
  </div>

  <div
    id="drawer-gift-product"
    class="fixed top-0 right-0 z-40 h-screen px-[40px] py-[44px] overflow-y-auto translate-x-full bg-primary-background w-[600px]"
    tabindex="-1"
    aria-labelledby="drawer-label"
  >
    <button
      type="button"
      class="btn-close-drawer"
    >
      {% render 'icon-close': class: 'w-3 h-3' %}
    </button>
    <h4 class="text-heading-h4 mb-[76px]">Add a gift 🎁</h4>
    <p class="text-body-sm text-primary-black mb-4">Enter Product Link</p>
    <p class="text-body-md text-primary-text mb-4">
      Found a product on another site that's not listed on FanGift? No problem. Just navigate to the product page on the
      external site, copy the URL from your browser's address bar, and paste the copied URL back here in the box. We'll
      take care of the rest.
    </p>
    <input
      type="text"
      placeholder="Paste Product URL"
      class="textfield mb-4"
      autofocus
      id="text-product-link"
    >
    <button
      id="btn-next-product"
      type="button"
      class="btn btn-primary w-full mb-[75px]"
    >
      Next 👉
    </button>
    <hr class="border-primary-border mb-[76px]">
    <a href="#" class="block text-accent-purple underline text-body-md text-center w-full">
      Found a perfect gift on FanGift?
    </a>
  </div>

  <div
    id="drawer-gift-collection"
    class="fixed top-0 right-0 z-40 h-screen px-[40px] py-[44px] overflow-y-auto translate-x-full bg-primary-background w-[600px]"
    tabindex="-1"
    aria-labelledby="drawer-label"
  >
    <button
      type="button"
      class="btn-close-drawer"
    >
      {% render 'icon-close': class: 'w-3 h-3' %}
    </button>
    <h4 class="text-heading-h4 mb-[76px]">Create a gift collection 🎀</h4>
    <div class="upload mb-4">
      <div class="bg-accent-peach/10 p-2 rounded-[8px]">
        {% render 'icon-doc-up' %}
      </div>
      <p class="text-primary-black"><span class="text-accent-peach">Click to upload</span> or drag and drop</p>
      <p class="text-primary-text">PNG or JPG up to 5MB</p>
    </div>
    <input
      type="text"
      placeholder="Collection Title"
      class="textfield mb-4"
    >
    <textarea
      id="message"
      rows="3"
      class="textfield mb-4 resize-none"
      placeholder="Collection Description"
    ></textarea>
    <button
      id="btn-save-collection"
      type="button"
      class="btn btn-primary w-full mb-[75px]"
    >
      Save Collection
    </button>
  </div>
</div>

{{ 'wishlist.min.js' | asset_url | script_tag }}
