<div class="bg-primary-background">
  <div class="container px-[45px] pb-[100px] grid grid-cols-6 gap-x-[18px] gap-y-[16px]">
    <div class="col-span-6 -mt-8">
      <div class="px-6 py-4 flex items-center justify-between bg-primary-white rounded-[8px]">
        <h4 class="text-heading-h4 text-primary-black">My Wishlist</h4>
        <div class="flex items-center gap-6">
          <button
            data-dropdown-toggle="dropdown"
            class="bg-primary-white border border-primary-text text-[12px] text-primary-text rounded-[5px] h-8 px-3 text-center inline-flex items-center gap-[6px]"
            type="button"
          >
            Filter
            {% render 'icon-arrow-dropdown' %}
          </button>
          <button
            data-dropdown-toggle="dropdown"
            class="bg-primary-white border border-primary-text text-[12px] text-primary-text rounded-full h-8 px-3 text-center inline-flex items-center gap-[6px]"
            type="button"
          >
            Sorting
            {% render 'icon-arrow-dropdown' %}
          </button>
        </div>
      </div>
    </div>
    {% render 'wish-card': title: 'Fitbit Versa 4', image: 'product0.png', price: '300.50' %}
    {% render 'wish-card': title: 'Gymshark Energy', image: 'product1.png', price: '59.99' %}
    {% render 'wish-card': title: 'The Workout Mat', image: 'product2.png', price: '98.00' %}
    {% render 'wish-card': title: 'Apple AirPods Max', image: 'product3.png', price: '549.00' %}
    {% render 'wish-card': title: 'Fitbit Versa 4', image: 'product0.png', price: '300.50' %}
    {% render 'wish-card': title: 'Gymshark Energy', image: 'product1.png', price: '59.99' %}
    {% render 'wish-card': title: 'The Workout Mat', image: 'product2.png', price: '98.00' %}
    {% render 'wish-card': title: 'Apple AirPods Max', image: 'product3.png', price: '549.00' %}
    {% render 'wish-card': title: 'Fitbit Versa 4', image: 'product0.png', price: '300.50' %}
    {% render 'wish-card': title: 'Gymshark Energy', image: 'product1.png', price: '59.99' %}
    {% render 'wish-card': title: 'The Workout Mat', image: 'product2.png', price: '98.00' %}
    {% render 'wish-card': title: 'Apple AirPods Max', image: 'product3.png', price: '549.00' %}
    {% render 'wish-card': title: 'Fitbit Versa 4', image: 'product0.png', price: '300.50' %}
    {% render 'wish-card': title: 'Gymshark Energy', image: 'product1.png', price: '59.99' %}
    {% render 'wish-card': title: 'The Workout Mat', image: 'product2.png', price: '98.00' %}
    {% render 'wish-card': title: 'Apple AirPods Max', image: 'product3.png', price: '549.00' %}
    {% render 'wish-card': title: 'Fitbit Versa 4', image: 'product0.png', price: '300.50' %}
    {% render 'wish-card': title: 'Gymshark Energy', image: 'product1.png', price: '59.99' %}
    {% render 'wish-card': title: 'The Workout Mat', image: 'product2.png', price: '98.00' %}
    {% render 'wish-card': title: 'Apple AirPods Max', image: 'product3.png', price: '549.00' %}
    {% render 'wish-card': title: 'Fitbit Versa 4', image: 'product0.png', price: '300.50' %}
    {% render 'wish-card': title: 'Gymshark Energy', image: 'product1.png', price: '59.99' %}
    {% render 'wish-card': title: 'The Workout Mat', image: 'product2.png', price: '98.00' %}
    {% render 'wish-card': title: 'Apple AirPods Max', image: 'product3.png', price: '549.00' %}
  </div>
</div>
