<div class="bg-primary-background">
  <div class="container px-[45px] pb-[100px] grid grid-cols-6 gap-x-[18px] gap-y-[16px]">
    <div class="col-span-6 -mt-8">
      <div class="px-6 py-4 flex items-center justify-between bg-primary-white rounded-[8px]">
        <h4 class="text-heading-h4 text-primary-black">My Wishlist</h4>
        <div class="flex items-center gap-6">
          <button
            data-dropdown-toggle="dropdown"
            class="bg-primary-white border border-primary-text text-[12px] text-primary-text rounded-[5px] h-8 px-3 text-center inline-flex items-center gap-[6px]"
            type="button"
          >
            Filter
            {% render 'icon-arrow-dropdown' %}
          </button>
          <button
            data-dropdown-toggle="dropdown"
            class="bg-primary-white border border-primary-text text-[12px] text-primary-text rounded-full h-8 px-3 text-center inline-flex items-center gap-[6px]"
            type="button"
          >
            Sorting
            {% render 'icon-arrow-dropdown' %}
          </button>
        </div>
      </div>
    </div>
    {% render 'wish-card': title: 'Fitbit Versa 4', image: 'product0.png', price: '300.50' %}
    {% render 'wish-card': title: 'Gymshark Energy', image: 'product1.png', price: '59.99' %}
    {% render 'wish-card': title: 'The Workout Mat', image: 'product2.png', price: '98.00' %}
    {% render 'wish-card': title: 'Apple AirPods Max', image: 'product3.png', price: '549.00' %}
    {% render 'wish-card': title: 'Fitbit Versa 4', image: 'product0.png', price: '300.50' %}
    {% render 'wish-card': title: 'Gymshark Energy', image: 'product1.png', price: '59.99' %}
    {% render 'wish-card': title: 'The Workout Mat', image: 'product2.png', price: '98.00' %}
    {% render 'wish-card': title: 'Apple AirPods Max', image: 'product3.png', price: '549.00' %}
    {% render 'wish-card': title: 'Fitbit Versa 4', image: 'product0.png', price: '300.50' %}
    {% render 'wish-card': title: 'Gymshark Energy', image: 'product1.png', price: '59.99' %}
    {% render 'wish-card': title: 'The Workout Mat', image: 'product2.png', price: '98.00' %}
    {% render 'wish-card': title: 'Apple AirPods Max', image: 'product3.png', price: '549.00' %}
    {% render 'wish-card': title: 'Fitbit Versa 4', image: 'product0.png', price: '300.50' %}
    {% render 'wish-card': title: 'Gymshark Energy', image: 'product1.png', price: '59.99' %}
    {% render 'wish-card': title: 'The Workout Mat', image: 'product2.png', price: '98.00' %}
    {% render 'wish-card': title: 'Apple AirPods Max', image: 'product3.png', price: '549.00' %}
    {% render 'wish-card': title: 'Fitbit Versa 4', image: 'product0.png', price: '300.50' %}
    {% render 'wish-card': title: 'Gymshark Energy', image: 'product1.png', price: '59.99' %}
    {% render 'wish-card': title: 'The Workout Mat', image: 'product2.png', price: '98.00' %}
    {% render 'wish-card': title: 'Apple AirPods Max', image: 'product3.png', price: '549.00' %}
    {% render 'wish-card': title: 'Fitbit Versa 4', image: 'product0.png', price: '300.50' %}
    {% render 'wish-card': title: 'Gymshark Energy', image: 'product1.png', price: '59.99' %}
    {% render 'wish-card': title: 'The Workout Mat', image: 'product2.png', price: '98.00' %}
    {% render 'wish-card': title: 'Apple AirPods Max', image: 'product3.png', price: '549.00' %}
  </div>

  <div
    id="drawer-cash-gift"
    class="fixed top-0 right-0 z-40 h-screen px-[40px] py-[44px] overflow-y-auto transition-transform translate-x-full bg-white w-[600px]"
    tabindex="-1"
    aria-labelledby="drawer-label"
  >
    <button
      type="button"
      data-drawer-hide="drawer-cash-gift"
      aria-controls="drawer-cash-gift"
      class="text-primary-black bg-transparent hover:bg-gray-200 rounded-lg text-sm w-8 h-8 inline-flex items-center justify-center absolute top-[45px] right-[40px]"
    >
      {% render 'icon-close': class: 'w-3 h-3' %}
    </button>
    <h4 class="text-heading-h4 mb-[76px]">Add Cash Gift 🎁</h4>
    <p class="text-body-sm text-primary-black mb-4">Gift Title</p>
    <p class="text-body-md text-primary-text mb-6">
      Let your community know how you would utilize this cash gift (e.g. "Short Film Production Budget" or "Rent")
    </p>
    <input
      type="text"
      placeholder="Add a title"
      class="textfield mb-6"
    >
    <p class="text-body-sm text-primary-black mb-4">Cash Amount</p>
    <div class="p-4 border border-primary-border bg-primary-white rounded-[16px] flex gap-1 items-center text-[18px] mb-4">
      <span class="text-accent-purple">$</span>
      <input
        name="amount"
        type="number"
        class="p-0 border-none focus:ring-0 placeholder-primary-border w-full"
        placeholder="Amount"
      >
    </div>
    <button type="button" class="btn btn-primary w-full">Add a Cash Gift</button>
  </div>

  <div
    id="drawer-add-gift"
    class="fixed top-0 right-0 z-40 h-screen px-[40px] py-[44px] overflow-y-auto transition-transform translate-x-full bg-white w-[600px]"
    tabindex="-1"
    aria-labelledby="drawer-label"
  >
    <button
      type="button"
      data-drawer-hide="drawer-add-gift"
      aria-controls="drawer-add-gift"
      class="text-primary-black bg-transparent hover:bg-gray-200 rounded-lg text-sm w-8 h-8 inline-flex items-center justify-center absolute top-[45px] right-[40px]"
    >
      {% render 'icon-close': class: 'w-3 h-3' %}
    </button>
    <h4 class="text-heading-h4 mb-[76px]">Add a gift 🎁</h4>
    <p class="text-body-sm text-primary-black mb-4">Enter Link from FanGift</p>
    <p class="text-body-md text-primary-text mb-4">
      Pick a product you love from the FanGift catalog. Simply click on it for details and copy the URL from the top of
      your browser. Paste the copied URL back here in the box. Don't forget, when a gift is bought, the vendor sends it
      straight to you.
    </p>
    <a href="#" class="text-accent-purple font-plus-bold text-[18px] flex items-center gap-[10px] mb-4">
      Browse FanGift's Marketplace
      {% render 'icon-external' %}
    </a>
    <input
      type="text"
      placeholder="Paste Product URL"
      class="textfield mb-4"
    >
    <button type="button" class="btn btn-primary w-full">Next 👉</button>
  </div>
</div>
