{{ 'login.min.css' | asset_url | stylesheet_tag }}

<main class="overflow-auto">
  <div class="bg-[url(auth-bg.svg)] bg-cover bg-no-repeat min-h-screen flex flex-col">
    {% section 'header-landing' %}

    <div class="container md:px-[100px] flex-grow flex items-end md:items-center">
      <div class="grid grid-cols-1 gap-[60px] xl:grid-cols-2 w-full">
        <form
          class="card-auth"
          onsubmit="return false;"
          id="form-login"
        >
          <div class="text-center my-8">
            <h1 class="text-primary-black text-heading-h3 mb-2">Welcome Back 👋</h1>
            <div class="text-center text-primary-text text-body-md">Log in to Get Started</div>
          </div>

          {% comment %}
            <div class="flex gap-4 mb-4">
            <button class="btn btn-google flex-grow">
            {% render 'icon-google.liquid' %}
            Sign in with Google
            </button>
            <button class="btn btn-facebook">
            {% render 'icon-facebook.liquid' %}
            </button>
            </div>

            <div class="flex items-center justify-center gap-3 mb-4">
            <hr class="border-primary-border flex-grow">
            <span class="text-body-sm text-primary-text">or</span>
            <hr class="border-primary-border flex-grow">
            </div>
          {% endcomment %}

          <div class="grid grid-cols-1 gap-4 mb-8">
            <input
              type="text"
              id="txt-email"
              name="email"
              placeholder="Email"
              class="textfield"
            >
            <div class="password">
              <input
                type="password"
                id="txt-password"
                name="password"
                placeholder="Password"
                class="textfield"
              >
            </div>
            <button
              id="btn-login"
              class="btn btn-primary"
              type="submit"
            >
              Log in
            </button>
            <div class="text-center text-primary-text text-body-md">
              Forgot Password?
              <a href="/pages/reset-password" class="text-accent-purple underline"> Email reset link </a>
            </div>
          </div>

          <hr class="-mx-5 border-primary-border mb-8">

          <div class="text-center text-primary-text text-body-md">
            Don't have an account?
            <a href="{{ routes.account_register_url }}" class="text-accent-peach underline">Signup</a>
          </div>
        </form>
        {{ 'auth-img0.png' | asset_url | img_tag: 'main-bg', 'hidden xl:block', '600x' }}
      </div>
    </div>
  </div>
</main>

<script src="{{'login.min.js' | asset_url}}" defer></script>
